body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

h2 {
    text-align: center;
    color:hsl(199, 98%, 33%);
    ;
    margin-top: 20px;
    font-size: xx-large;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

button {
    background-color: #0099ff;
    color: hsl(0, 0%, 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0379bd;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #035891;
    color: white;
}

tbody {
    background-color: #f9f9f9;
}