<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About WeatherWizard</title>
    <link rel="stylesheet" href="/Advanced JS Homeworks/WeatherApp_Workshop_exercise/code/styles/about.css">
</head>
<body>
    <section id="about">
        <h2>About WeatherWizard</h2>
        <a href="index.html">Navigate Back</a>
        <h3>About the Developer</h3>
        <p>
            Meet the mind behind this innovative weather app, <span id="creatorName">Ivan Penev</span>. As a passionate weather enthusiast, Ivan crafted this app to provide you with the most accurate and detailed weather forecasts.
            Any queries or suggestions? Drop an email at <a href="mailto:ivanpenev@weatherwizard.com" id="creatorEmail">ivanpenev@weatherwizard.com</a>.
        </p>

        <h3>About the Weather App</h3>
        <p>
            Welcome to WeatherWizard, your go-to destination for up-to-the-minute weather updates! Immerse yourself in the world of weather forecasting with real-time temperature insights, detailed weather conditions, and wind speed data. Whether planning outdoor adventures or daily routines, WeatherWizard has you covered.
        </p>

        <p>
            Our commitment is to deliver accurate and reliable weather information tailored to your needs. Explore the app and embark on a journey to weather awareness like never before!
        </p>
    </section>

    <footer>
        <p class="creator">&copy; 2024 WeatherWizard | Designed by Ivan Penev</p>
    </footer>
</body>
</html>
